a.category-item-link {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

a.category-item-link {
  border: 2px solid black;
  width: 20%;
  margin: 2%;
  height: 140px;
  color: black;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  min-width: 180px;
}
.category-item {
  border: 2px solid;
  height: 140px;
  border-radius: 20px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-items {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-evenly;
}

.blue-background {
  background: #072eb9;
}

.blue-background .inner-menu {
  color: white !important
}

.blue,
.cat-blue .header,
.cat-blue .crooked,
.cat-blue .rounded-back,
.blue-items a.category-item-link:hover {
  background: #072eb9 !important;
  color: white;
  z-index: 100
}

.lab-white-side{
  background-color: white;
}

.blue-items a.category-item-link:hover > .category-item {
    border: 0 !important
}

a {
  text-decoration: none;
  color: inherit;
}
