/* drummachine */
#drum_machine,
#keyboard {
  position: fixed;
  width: 95%;
  max-width: 600px;
  background: white;
  padding: 20px;
  transition: top 0.8s ease;
  z-index: 1000;
  overflow-y: auto;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 5px solid black;
  color: black
}

#drum_machine.active,
#keyboard.active {
  top: 42%;
}

#drum_machine .pad {
  background-color: #072eb9;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Ensure this matches the inline style for height */
  width: 80px; /* Ensure this matches the inline style for width */
}

#drum_machine .pad-yellow:hover {
  background-color: #ffb800;
  color: white;
}
#drum_machine .pad-red:hover {
  background-color: #c01001;
  color: white;
}


#drum_machine #play {
  background-color: #072eb9;
  color: white;
  border: none;
}

#drum_machine #play:hover {
  background-color: #ffb800;
  color: white;
}

#drum_machine #play:active {
  background-color: #c01001;
  color: white;
}

#drum_machine #stop {
  background-color: #c01001;
  color: white;
  border: none;
}

#drum_machine #stop:hover {
  background-color: #ffb800;
  color: white;
}

#drum_machine #stop:active {
  background-color: #072eb9;
  color: white;
}

#drum_machine #reset {
  background-color: #ffb800;
  color: white;
  border: none;
}

#drum_machine #reset:hover {
  background-color: #072eb9;
  color: white;
}

#drum_machine #reset:active {
  background-color: #c01001;
  color: white;
}

/* CSS for playhead */
#drum_machine .playhead {
  background-color: #ffb800 !important; /* Use one of the provided colors */
  color: white;
}

/* Ensuring vertical and horizontal center alignment for pads */
#drum_machine .pad {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px
}

/* Removing borders and improving style for tempo and volume */
#drum_machine #tempo,
#drum_machine #volume {
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
}


#drum_machine td {
  padding: 0;
}

#drum_machine .form-label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

#drum_machine #tempo {
  width: auto;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

#drum_machine #volume {
  display: inline-block;
  margin-left: 10px;
}

#drum_machine .col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drum_machine .row.mt-4 {
  margin-top: 20px;
}

/* Keyboard */

#keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  max-width: 800px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the text */
  font-size: 1.2em;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
}

.whiteKey {
  background-color: #ffb800;
  color: black;
}

.redKey {
  background-color: #c01001;
  color: black;
}

.blueKey {
  background-color: #072eb9;
  color: black;
}

#cycleSound {
  width: 120px; /* Increase the size of the button */
  height: 120px; /* Increase the size of the button */
  border-radius: 50%; /* Make the button circular */
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure the button is treated as a block element */
  background-color: black; /* Change the button color */
  border: none; /* Remove the default border */
  color: black; /* Ensure the text color is white */
  font-weight: bold;
  font-size: 1.2em; /* Increase the font size of the button text */
  cursor: pointer; /* Add a pointer cursor on hover */
  color: white
}

#cycleSound:hover {
  background-color: white;
  color: black
}

/* End keyboard */

/* CSS for the table rows */
#sequencer tbody tr:nth-child(1) button.btn.btn-light.sequencer-button.active{
  background-color: #ffb800;
}

#sequencer tbody tr:nth-child(2) button.btn.btn-light.sequencer-button.active{
  background-color: #c01001;
}

#sequencer tbody tr:nth-child(3) button.btn.btn-light.sequencer-button.active{
  background-color: #072eb9;
}

#sequencer tbody tr:nth-child(4) button.btn.btn-light.sequencer-button.active{
  background-color: #ffb800;
}

button.btn.btn-light.sequencer-button.active {
  color: white;
}